/*
   jueves, 18 de mayo de 202317:41:29
   User: sa
   Server: DESKTOP-AC68PH5\SQLEXPRESS
   Database: prueba_tecnica
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.productos
	(
	idproducto int NULL,
	producto nchar(20) NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.productos SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.productos', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.productos', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.productos', 'Object', 'CONTROL') as Contr_Per 